<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-body">
          <h4 class="card-title">Striped Progress bar </h4>

          <div class="progress m-t-20">
              <div class="progress-bar bg-primary progress-bar-striped actived"  style="height:10px;" [style.width]= getPercentOne role="progressbar">
              </div>
          </div>

          <div class="progress m-t-20">
            <div class="progress-bar bg-info progress-bar-striped actived"  style="height:10px;" [style.width]= getPercentTwo role="progressbar">
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment (valueChanged)="changeValueOne($event)" [progress]="progressOne"></app-increment>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment (valueChanged)="changeValueTwo($event)" [progress]="progressTwo" [btnClass]="'btn-info'"></app-increment>
      </div>
    </div>
  </div>
</div>
